@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: Roboto, sans-serif;
    --heightop: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    max-width: 1240px;
    margin: 0 auto;
    background-color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
