.exp-content {
    background-color: white;
}

.exp-title {
    background-color: lightblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 16px;
}

.exp-job {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 1em;
    align-items: center;
    margin-bottom: 64px;
}

.exp-job-text {
    padding: 8px;
    color: black;
    grid-row: 1 / 4;
    text-indent: 32px;
}

.exp-job-title {
    color: darkblue;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

.exp-job-tech {
    color: red;
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

.exp-job-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    grid-column: 2;
    grid-row: 3;
}