@import "main";

.exp-content {
    background-color: white;
}

.exp-title {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.exp-det {
    margin-left: 48px;
}

.con {
    margin: 8px 0;
}

.con-a {
    margin-right: 24px;
    color: blue;
}

.link {
    float: right;
    padding-left: 14px;
    font-size: smaller;
    font-style: italic;
    color: purple;
    text-decoration: none;
}

.imglink {
    height: 30px;
}

.tech {
    margin: 24px 0;
}

.tech-det {
    margin-right: 4px;
    padding: 8px;
    border: 1px solid #aaaaaa;
    border-radius: 8px;
}

.exp-li {
    background-color: yellow;
    color: blue;
    display: flex;
    align-items: center;
    margin: 16px;
    padding: 12px;
    border-radius: 10px;
    width: 99px;
}

.exp-lt {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    margin: 12px;
}
