@import "main";

.title {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.content {
    margin-left: 48px;
    margin-top: 16px;
}

.contact {
    margin-top: 8px;
    color: blue;
    display: flex;
    gap: 24px;
}

.contact :hover {
    opacity: 0.7;
}

.tech {
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tech-box {
    white-space: nowrap;
    padding: 8px;
    border: 1px solid #aaaaaa;
    border-radius: 8px;
}

.link {
    float: right;
    padding-left: 14px;
    font-size: smaller;
    font-style: italic;
    color: purple;
    text-decoration: none;
    height: 30px;
}

.link :hover {
    opacity: 0.7;
}

.imglink {
    height: 30px;
}

.tag {
    margin: 16px;
    padding: 12px;
    background-color: yellow;
    color: blue;
    text-align: center;
    border-radius: 10px;
    width: 99px;
}
