@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: Roboto, sans-serif;
    --heightop: 64px;
}

.main-container {
    max-width: 1240px;
    margin: 0 auto;
}

.top-bar {
    max-width: 1240px;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--heightop);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    opacity: 0.93;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        border: 4px solid bisque;
    }

    &:focus {
        border: 4px solid bisque;
    }

    &-sel {
        border: 3px solid bisque;
    }
}

.main-content {
    margin-top: var(--heightop);
    font-size: 16px;
}


a {
    text-decoration: none;
    color: inherit;
    transition: .2s;
}
