@import "main";

.pet-content {
    background-color: rgb(185, 247, 213);
    padding: 12px 36px;
    border-radius: 10px;
    margin-top: 64px;
}

.title {
    margin-bottom: 38px;
    padding: 14px;
    color: rgb(73, 141, 6);
    font-family: cursive;
    text-align: center;
}

.proj {
    background: linear-gradient(23deg, rgba(255, 255, 255, 0.6) 0%, rgba(156, 191, 236, 0.6) 10%, rgba(159, 240, 243, 0.6) 30%, rgba(159, 240, 243, 0.6) 70%, rgba(99, 161, 241, 0.6) 90%, rgba(255, 255, 255, 0.6) 100%);
    border-radius: 10px;
    box-shadow: 0 0 26px rgba(0,0,0,0.5);
    margin-bottom: 26px;
    padding: 38px;
    text-align: justify;
    overflow: auto;
}

.year {
    color: darkblue;
    text-align: left;
}

.tech {
    color: red;
    text-align: left;
}

.name {
    color: green;
    text-align: left;
}

.remark {
    padding-left: 14px;
    color: darkolivegreen;
}

.desc {
    padding-left: 14px;
}

.link {
    float: right;
    padding-left: 14px;
    font-size: smaller;
    font-style: italic;
    color: purple;
    text-decoration: none;
}

.imglink {
    height: 50px;
}

.note {
    font-size: smaller;
    text-align: left;
}

.git {
    text-align: center;
    padding-bottom: 5%;
    font-size: large;
}
