.page {
    background-color: rgb(245, 175, 175);
    padding: 10pt 30pt;
    border-radius: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    color: rgb(134, 79, 7);
    margin-bottom: 30pt;
    padding: 10pt;
}

.par {
    background-color: white;
    border-radius: 8pt;
    margin-bottom: 10pt;
    padding: 20pt;
    text-align: justify;
    text-indent: 30pt;
    overflow: auto;
    font-size: larger;
}

.img {
    float: right;
    padding: 0 0 10pt 10pt;
    max-width: 25%;
}
