@inherits LayoutComponentBase

<ErrorBoundary>
    <ChildContent>
        <MudLayout>
            <BarTop />
            <MudContainer Class="mt-16">
                @Body
            </MudContainer>
        </MudLayout>
    </ChildContent>
    <ErrorContent>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">@context.Message</p>
        </LayoutView>
    </ErrorContent>
</ErrorBoundary>
